body
{
  color: white;
  background:mediumseagreen;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 10px dashed black;
  width: 350px;
  height: 350px; 
}
.emotionName
{
  font-size: 50px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label
{
  font-size: 14px;
  color: #62b33a;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}